@import url("components/button.css");
@import url("components/footer.css");
@import url("components/margin-padding.css");
@import url("components/scrolldown.css");



/* BANNIERE D'ACCUEIL */

#wheeldogs {
  padding-top: 80px;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-attachment: fixed;
}
.centered-wrapper {
  -webkit-box-align: center;
  align-items: center;
}
.project {
  width: 852px;
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.out-wrapper {
  min-height: 450px;
  width: 100%;
}
#home-presentation {
  background-size: cover;
  background-position: center center;
  background: fixed;
  color: white;
}
#home-presentation h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 100px;
}


/* NOUS */
.nous-wrapper {
  margin: 0 auto;
  width: 90%;
}
.nous-container {
  margin: 0 auto;
  width: 70%;
}
.nous-wrapper h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 1.3;
}

/* OBJECTIF */

.objectif-wrapper {
}
.objectif-container {
  margin: 0 auto;
  width: 90%;
}
.objectif-detail {
  margin: 0 auto;
  width: 70%;
  /*display: flex;
  justify-content: space-around;
  align-items: stretch;*/
}
.objectif-texte {
  padding: 4em 5em 4em 0em;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
}
.objectif-container h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 40px;
}
.objectif-container p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* CONCEPT */
#hero2 {
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
  min-height: 100vh;
}
.concept-wrapper {
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.concept-container {
  margin: 0 auto;
  width: 90%;
}
.concept-description {
  margin: 0 auto;
  width: 70%;
  color: white;
}
.concept-description h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 40px;
}
.concept-description p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
}
.concept-couleur {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  position: relative;
}
/*#surtitre {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}*/

/* APPROCHE */
.appoche-wrapper {
  margin: 0 auto;
  width: 100%;
}
.approche-container {
  margin: 0 auto;
  width: 90%;
}
.approche-detail {
  margin: 0 auto;
  width: 70%;
}
.approche-detail p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.approche-container h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 60px;
  margin-top: 60px;
}
.bkg-white {
  padding: 30px;
}

/* MANIFESTO */
.manifesto {
  background-color: #F8F8F9;
  background-size: cover;
}
.manifesto-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 40px;
}
.manifesto-detail {
  margin: 0 auto;
  width: 70%;
}
.manifesto h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 60px;
}
.manifesto p {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin-bottom: 24px;
}

/* ENGAGEMENT */
.engagement-container {
  margin: 0 auto;
  width: 90%;
  background-color: white;
}
.engagement-detail {
  margin: 0 auto;
  width: 70%;
}
.engagement-row {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #F8F8F9;
  padding: 40px 0;
  vertical-align: middle;
}
.engagement-row .left-side {
  float: left;
  display: inline-block;
  width: 12.5vw;
}
.engagement-row .right-side {
  float: left;
  display: inline-block;
  width: 54.16667vw;
}
.engagement-info {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.engagement h4 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
}
.engagement-number {
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 100%;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 30px;
}
.engagement-label {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.engagement-info {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* TEAM */
.team-wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #F8F8F9;
  background-size: cover;
}
.team-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
}
.team-detail {
  margin: 0 auto;
  width: 70%;
}
.team-container h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 60px;
  margin-top: 60px;
}
.team-container h4 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.team-detail p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

